body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
  width: 1200px;
}

*, *::before, *::after {
  box-sizing: inherit;
}


/*img {
  max-width: 100%;
}*/

.container {
  width: 100%;
  background-color: #9bafa4;
  background-image: url("../img/index/slider1.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.slider-toggle {
  display: none;
}

.slider-toggle-1:checked~.container {
  background-color: #9bafa4;
  background-image: url("../img/index/slider1.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.slider-toggle-2:checked~.container {
  background-color: #8996a6;
  background-image: url("../img/index/slider2.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.slider-toggle-3:checked~.container {
  background-color: #9d8b84;
  background-image: url("../img/index/slider3.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.slide {
  display: none;
  min-height: 520px;
  text-align: center;
  padding-top: 270px;
}

.slider-toggle-1:checked~.container .slide-1, .slider-toggle-2:checked~.container .slide-2, .slider-toggle-3:checked~.container .slide-3 {
  display: block;
}

.slider-name {
  width: 60%;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slide-3 .slider-name {
  width: 56%;
}

.slider-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-btn:active {
  background: linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.controls {
  position: absolute;
  bottom: 60px;
  z-index: 20;
  font-size: 0;
}

.controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.main-header {
  padding: 0 2.3% 0 2.3%;
  margin: 0 auto;
}

.main-content {
  padding: 0 2.3% 0 2.3%;
  margin: 0 auto;
}

.main-footer {
  padding: 0 2.3% 0 2.3%;
  margin: 0 auto;
}

.main-header-layout {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.logo {
  padding-top: 10px;
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-nav {
  width: 100%;
}

.menu-list {
  position: relative;
  width: 450px;
  margin: 0;
  font-size: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  vertical-align: baseline;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  margin-right: 15px;
}

.menu-link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 5px;
}

.menu-link-active {
  border-bottom: none;
  padding: 6px 15px;
}

.menu-list>.menu-item:hover>.submenu-list {
  display: block;
  z-index: 10;
}

.menu-link:hover {
  background: #f7f6f3;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  margin-bottom: 5px;
}

.menu-iten-active .menu-link {
  background: #d07058;
  color: #fff;
  border-radius: 30px;
}

.info-block-index {
  float: right;
}

.submenu-list {
  display: none;
  position: absolute;
  background-color: #f8f7f4;
  width: 143px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 202;
}

.submenu-item {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding: 8px 0px 8px 25px;
}

.submenu-item:nth-child(1) {
  padding: 10px 25px;
  margin-bottom: 4px;
}

.submenu-link {
  text-decoration: none;
  color: #000;
}

.user-block-list {
  width: 270px;
  margin: 0;
  font-size: 0;
  padding: 0;
}

.user-item {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  margin-right: 9px;
}

.user-item:nth-last-child(1) {
  margin-right: 0;
}

.search-button {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
}

.search-button::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 22px;
  height: 24px;
  background: transparent url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -98px -0px;
}

.user-block {
  padding-top: 22px;
}

.user-item-login {
  position: relative;
  text-decoration: none;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #fff;
  padding: 8px 20px 8px 45px;
}

.user-item-login::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 18px;
  width: 22px;
  height: 24px;
  background: transparent url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -74px -2px;
}

.user-item-bascet {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 15px 8px 40px;
  border-radius: 30px;
  text-decoration: none;
  background: #fff;
  color: #000;
}

.user-item-bascet::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 12px;
  width: 22px;
  height: 24px;
  background: #fff url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -619px -2px;
  ;
}

.breadcrumbs-info-item {
  display: flex;
  justify-content: space-between;
}

.info-block {
  text-align: right;
  max-width: 200px;
  min-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.info-block-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
}

.info-block-tel {
  display: inline-block;
  font-size: 22px;
  line-height: 24px;
}


/*index*/

.wrapper {
  position: relative;
}

.banner-block {
  display: flex;
  margin-bottom: 43px;
}

.banner-block:nth-child(2) {
  margin-right: 0;
}

.banner {
  width: 49%;
  height: auto;
  flex-basis: 49%;
  flex-shrink: 0;
  border-radius: 20px;
  margin-right: 2%;
  padding: 20px;
}

.banner-name {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin: 0;
}

.banner-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.banner-rasberry {
  background: url("../img/index/rasberry-background.jpg");
}

.banner-chocolate {
  background: url("../img/index/choclate-background.jpg");
}

.index-products {
  margin-bottom: 0;
}

.banner-btn {
  display: inline-block;
  text-decoration: none;
  float: right;
  padding: 10px 20px;
  border-radius: 30px;
}

.seo-block {
  width: 100%;
  height: auto;
  background: url("../img/index/pattern.jpg") repeat;
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
  color: #323232;
  margin-bottom: 40px;
}

.seo-name {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 5px 0;
}

.seo-text {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  padding: 4px 10px 0 55px;
}

.right-seo .seo-text {
  padding: 4px 10px 0 70px;
}

.left-seo .seo-text:nth-child(1)::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 0px;
  width: 49px;
  height: 49px;
  background: transparent url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -354px -2px;
}

.left-seo .seo-text:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 48px;
  height: 49px;
  background: transparent url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -244px -2px;
}

.right-seo .seo-text:nth-child(1)::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 12px;
  width: 48px;
  height: 49px;
  background: transparent url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -192px -2px;
}

.right-seo .seo-text:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 13px;
  width: 48px;
  height: 49px;
  background: transparent url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -407px -2px;
}

.flex-wrap {
  display: flex;
}

.seo-spreader {
  width: 55%;
}

.blog-block {
  display: flex;
  margin-bottom: 40px;
}

.news-block {
  color: #323232;
  background: url("../img/index/strow-background.jpg") no-repeat;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
}

.blog-name {
  max-width: 309px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.post-wrap {
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  background: #f8f7f4;
  margin: 0;
}

.post-block {
  color: #000;
  margin: 0;
  background: url("../img/index/post-pattern.jpg") no-repeat;
  padding: 5px;
}

.post-text {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 35px;
}

.post-button {
  display: inline-block;
  text-decoration: none;
  float: right;
  padding: 10px 20px;
  border-radius: 30px;
}

.form-wrap {
  display: flex;
}

.input-text {
  border: 1px solid #d3d3d2;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.map {
  background: url("../img/index/map.jpg") no-repeat;
  position: relative;
  width: 100%;
  height: 430px;
  margin-left: -2.3%;
}

.contact-block {
  position: absolute;
  top: 60px;
  left: 840px;
  background: #fff;
  color: #000;
  z-index: 50;
  padding: 30px 25px 30px 25px;
  border-radius: 10px;
}

.contact-btn {
  display: inline-block;
  text-decoration: none;
  float: right;
  padding: 10px 20px;
  border-radius: 30px;
}

.contact-info {
  margin-bottom: 30px;
  width: 230px;
}

.contact-info p {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contact-info span {
  width: 150px;
  font-size: 14px;
  line-height: 20px;
}

.contact-adress {
  margin: 0 0 25px 0;
}

.contact-tel {
  margin: 0;
}


/*catalog*/

.breadcrumbs {
  padding-top: 25px;
  margin-right: 60%;
}

.breadcrumbs-list {
  margin: 0;
  font-size: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: inline-block;
  vertical-align: baseline;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
}

.breadcrumbs-link {
  display: inline-block;
  vertical-align: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #fff;
}

.breadcrumbs-link-active {
  border: none;
}

.form-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.form-filters {
  width: 880px;
  margin-bottom: 45px;
}

.filter-item {
  display: flex;
  margin-bottom: 4px;
}

.form-sort {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.filter-title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.fat-title {
  margin-bottom: 0px;
}

.fat-sort {
  border: none;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  width: 55px;
  text-align: center;
  color: #fff;
  border: none;
  background: transparent;
}

.price-range {
  display: flex;
}

.range-controls {
  position: relative;
  height: 36px;
  padding-top: 18px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 15px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.range-controls .scale {
  height: 5px;
  background: #d1dad3;
}

.range-controls .bar {
  width: 60%;
  height: 5px;
  background: #f8f7f4;
}

.range-controls .range-toggle {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 10px solid #f8f7f4;
  border-radius: 50%;
}

.bar {
  margin-left: 10%;
  width: 60%;
}

.range-controls .range-toggle-min {
  left: 35px;
}

.range-controls .range-toggle-max {
  left: 130px;
}

.form-sort-block {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 10px 25px;
}

.form-sort-range {
  padding: 0;
  width: 220px;
}

.form-sort-radio {
  font-size: 0;
  padding: 10px 0px 10px 25px;
}

.fillers-sort {
  min-width: 705px;
  border: none;
  padding: 0px;
  margin-right: 10px;
}

.radio-label {
  position: relative;
  margin-right: 19px;
  font-size: 16px;
  line-height: 18px;
}

.radio-label input[type="radio"] {
  display: none;
}

.radio-indicator {
  display: block;
}

.radio-label input[type="radio"]+.radio-indicator {
  position: relative;
  top: -1px;
  left: -6px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border: 2px solid #f8f7f4;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.radio-label input[type="radio"]+.radio-indicator:hover {
  box-shadow: inset 0 0 0 1px #fff;
}

.radio-label input[type="radio"]+.radio-indicator:disabled {
  opacity: 0.4;
}

.radio-label input[type="radio"]:checked+.radio-indicator::before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f8f7f4;
  display: inline-block;
  vertical-align: top;
}

.checkbox-label {
  position: relative;
  padding-right: 25px;
  font-size: 16px;
  line-height: 18px;
}

.checkbox-label:nth-child(5) {
  padding-right: 0;
}

.checkbox-label input[type="checkbox"] {
  display: none;
}

.radio-indicator {
  display: block;
}

.checkbox-label input[type="checkbox"]+.checkbox-indicator {
  position: relative;
  top: 0px;
  left: -5px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  /*border: 2px solid #f8f7f4;*/
  display: inline-block;
  vertical-align: top;
  background: url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -483px -2px;
}

.checkbox-label input[type="checkbox"]+.checkbox-indicator:hover {
  background: url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -531px -2px;
}

.checkbox-label input[type="checkbox"]:checked+.checkbox-indicator:hover {
  background: url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -579px -2px;
}

.checkbox-label input[type="checkbox"]+.checkbox-indicator:disabled {
  background: url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -507px -2px;
}

.checkbox-label input[type="checkbox"]:checked+.checkbox-indicator:hover {
  background: url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -459px -2px;
}

.checkbox-label input[type="checkbox"]:checked+.checkbox-indicator {
  content: "";
  position: relative top: 0px;
  left: -5px;
  width: 22px;
  height: 22px;
  background: url("../img/sprite/spritesheet.png") no-repeat;
  background-position: -555px -2px;
  display: inline-block;
  vertical-align: top;
}

.form-sort-checkbox {
  font-size: 0;
  padding: 10px 25px 10px 20px;
}

.button-block {
  padding-top: 20px;
}

.form-submit {
  display: block;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fbfbfb;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  border-radius: 30px;
  height: 39px;
}

.form-select {
  background-color: transparent;
  border: none;
  color: #fff;
}

.products {
  margin-bottom: 55px;
  font-size: 0;
}

.index-products {
  margin-bottom: 0;
}

.product {
  position: relative;
  width: 23.2%;
  height: auto;
  flex-basis: 23.2%;
  flex-shrink: 0;
  box-sizing: content-box;
  margin: 0 1.15% 40px;
  display: inline-block;
  vertical-align: top;
}

.index-product {
  margin: 0 1.15% 27px;
}

.product:hover {
  top: -10px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 1.15% 20px 1.15%;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: -10px;
  z-index: 55;
  margin-bottom: -34px;
}

.product:nth-child(4n) {
  margin-right: 0;
}

.product:nth-child(4n+1) {
  margin-left: 0;
}

.product:nth-child(4n):hover {
  margin-right: 1.15%;
  margin-right: -1.15%;
}

.product:nth-child(4n+1):hover {
  margin-left: 1.15%;
  margin-left: -1.15%;
}

.product-title {
  display: inline;
  text-align: center;
  margin-top: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.product-thumb {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.products>.product:hover>.product-preview {
  display: block;
}

.product-preview {
  display: none;
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 10px;
}

.product-price {
  position: absolute;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-size: 45px;
  font-weight: bold;
  bottom: 26%;
  left: 0px;
}

.paginations {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px;
}

.pagination-list {
  width: 190px;
  margin: 0;
  font-size: 0;
  padding: 0;
}

.pagination-item {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: 26px;
  border-radius: 50%;
  color: #fff;
}

.pagination-link:not(.pagination-item-active):hover {
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}


/*
.pagination-item:nth-last-child(1) {
  font-size: 0;
}
.pagination-item:nth-last-child(7) {
  font-size: 0;
}*/

.pagination-link {
  text-decoration: none;
  color: #fff;
}

.pagination-item-active {
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  color: #000;
  vertical-align: sub;
}

.footer-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 40px 0px 40px 0px;
}

.arrow-direction-btn:hover {
  opacity: 0.2;
}

.arrow-direction-btn:active {
  opacity: 1;
}

.btn {
  font-family: "Roboto", "Arial", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient( 180deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.footer-links {
  display: flex;
}

.footer-links-item {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.footer-links a {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 5px;
}

.for-supliers {
  position: relative;
}

.for-supliers::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -23px;
  background: url("../img/sprite/spritesheet.png") no-repeat center;
  background-position: -297px -2px;
  width: 15px;
  height: 13px;
}

.footer-social {
  margin-right: 2%;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 10px;
  font-size: 0;
}

.social-btn:hover {
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.004);
}

.social-btn-tw {
  position: relative;
  opacity: 0.8;
}

.social-btn-tw:hover {
  opacity: 1;
}

.social-btn-tw::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/sprite/spritesheet.png") no-repeat center;
  background-position: -156px -2px;
  width: 32px;
  height: 32px;
}

.social-btn-fb {
  position: relative;
  opacity: 0.8;
}

.social-btn-fb:hover {
  opacity: 1;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/sprite/spritesheet.png") no-repeat center;
  background-position: -2px -2px;
  width: 32px;
  height: 32px;
}

.social-btn-inst {
  position: relative;
  opacity: 0.8;
}

.social-btn-inst:hover {
  opacity: 1;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/sprite/spritesheet.png") no-repeat center;
  background-position: -120px -2px;
  width: 32px;
  height: 32px;
}

.social-btn-vk {
  position: relative;
  opacity: 0.8;
}

.social-btn-vk:hover {
  opacity: 1;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/sprite/spritesheet.png") no-repeat center;
  background-position: -38px -2px;
  width: 32px;
  height: 32px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-copyright span {
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-underline {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  border-bottom: text-decoration: none;
}
